@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/styles/fonts/Helvetica/HelveticaNeueCyr-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/styles/fonts/Helvetica/HelveticaNeueCyr-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/styles/fonts/Helvetica/HelveticaNeueCyr-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/styles/fonts/Helvetica/HelveticaNeueCyr-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/styles/fonts/Helvetica/HelveticaNeueCyr-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/styles/fonts/Helvetica/HelveticaNeueCyr-Italic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/styles/fonts/Helvetica/HelveticaNeueCyr-Roman.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/styles/fonts/Helvetica/HelveticaNeueCyr-BlackItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}
